<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>“温暖童心”公益活动《易宝公益圈服务协议》</title>
<meta name="apple-mobile-web-app-title" content="搜狐焦点房产">
<link rel="apple-touch-icon" sizes="57x57" href="http://192.168.242.44/sceapp/focus_static/wap/images/focus57.png">
<link rel="apple-touch-icon" sizes="72x72" href="http://192.168.242.44/sceapp/focus_static/wap/images/focus72.png">
<link rel="apple-touch-icon" sizes="114x114" href="http://192.168.242.44/sceapp/focus_static/wap/images/focus114.png">
<link rel="apple-touch-icon" sizes="144x144" href="http://192.168.242.44/sceapp/focus_static/wap/images/focus144.png">
<link rel="apple-touch-icon" sizes="152x152" href="http://192.168.242.44/sceapp/focus_static/wap/images/focus152.png">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="http://192.168.242.44/sceapp/focus_static/wap/gongyi/css/index.css"/>
</head>
<body>
<!-- header -->
<header class="header">
	<a id="back" href="/gongyi/"></a>
	<h1>焦点公益</h1>
	<div class="banner"><img src="http://192.168.242.44/sceapp/focus_static/wap/gongyi/img/banner.jpg" title="温暖童心" alt="温暖童心" /></div>
</header>
<!-- .content -->
<div class="content">
	<article class="agreement">
		<span class="circleLabel"></span>
		<h2 class="red">易宝公益圈服务协议（银行卡支付产品）</h2>
<div class="details">鉴于，甲方为从事公益事业的非盈利机构，并开通网上捐款渠道；<br/>
鉴于，乙方为开展电子支付业务的第三方支付公司，拥有系列支付产品；<br/>
因此，甲、乙双方经友好协商，在平等互利、合作共赢的基础上，依照中华人民共和国《合同法》等有关法律、法规规定，就乙方为甲方提供支付服务达成如下合作协议：</div>
	</article>
	<article class="item">
		<span class="circleLabel"></span>
		<h3 class="red">通 用 条 款</h3>
<h4>一、甲、乙双方指定的基本注册信息和账户信息如下：</h4>
<div class="details gray">甲 方、法定代表人地址、邮编、电话、传真、	开户名、开户行、开户账号、公司网址E-mail、联系人及手机；<br/>
乙方易宝支付有限公司 法定代表人 唐彬<br/>
甲方除了如实填写上述信息外，还应在签订本协议同时向乙方提供有关身份资料，包括获得年检的营业执照复印件、税务登记证复印件，甲方应在上述信息和资料任何一项发生变更后7天内书面通知乙方，并承担因信息和身份资料不准确、不真实、不及时和不完整而引发的一切责任。</div>
<h4>二、甲方权利和义务</h4>
<div class="details gray">2.1 甲方有权根据本协议规定获得乙方结算划转的交易金额。
2.2 甲方有权获得乙方关于支付产品的及时、有效的技术咨询和服务。
2.3 甲方保证拥有合法的经营资质和行政许可，保证合法、诚信经营，不从事非法经营、不正当竞争、虚假宣传、非法广告、商业欺诈或侵害捐赠者、用户合法权益的任何活动。
2.4 甲方须在甲方网站的支付页面（网上收银台）的明显位置嵌入乙方提供的LOGO图形链接及乙方提供的乙方网站上的用户帮助页面的链接，并标注甲方的具体联系方式。
2.5 甲方（包括甲方的员工，其合作机构及其雇员等，下同）不得以任何手段和方式采集、截取、盗用消费者或用户（即持卡人，下同）的银行卡或非银行卡帐户和密码等信息，不得代捐赠者、用户或任何第三方提交订单或发出任何指令。否则，甲方应独立承担由此引起的一切法律责任和后果，乙方并有权据此终止本协议。
2.6 甲方有义务及时下载交易数据并存档。
2.7 甲方在发生账户变更（包括开户行、开户名、账号中的任何一项）、其他注册信息变更、业务变更、经营地址变更、网址变更或终止、网站改版或升级等任何可能影响乙方支付服务正常进行的变动时，应在７天内以加盖公章的书面形式通知乙方。
2.8 甲方应在官方网站、公益活动现场、新闻报道、广告宣传、印刷品等所有宣传推广中，体现乙方“易宝支付（YeePay.com）为甲方网上捐赠合作伙伴”，并展示乙方Logo等信息。</div>
<h4>三、乙方权利和义务</h4>
<div class="details gray">3.1 为了提高乙方支付产品的功能和服务质量，乙方有权根据情况决定对支付产品的功能和服务进行改动和升级，并暂停向甲方提供支付服务，但应提前7个工作日告知甲方，并预告恢复日期。
3.2 在本协议签订后，甲方须在乙方主页注册并自助下载乙方提供的接口文档，乙方提供工作时间内相应的技术咨询服务。甲方在其网站增加相应在线捐款入口，并对乙方安全性、合法性予以说明，捐款流程页面及功能实现均由乙方实现。
3.3 乙方并将为甲方量身定制活动页面，以最大力度配合甲方宣传推广相关公益活动。
3.4 对于与乙方支付产品有关的投诉或纠纷，乙方有义务协助甲方进行处理。
3.5 乙方有义务为甲方提供6个月以内的交易数据的存档和查询服务。
3.6 乙方有义务按本协议规定及时将结算资金划入甲方在第一条指定的银行账户。
3.7 在甲方未标注其详细、准确的联系方式时，乙方有权将甲方的联系方式告知甲方的捐赠者、用户。</div>
<h4>四、协议解除</h4>
<div class="details gray">4.1 甲方在以下情况下，有权解除本协议；
4.1.1 乙方的支付产品存在严重技术问题，导致捐赠者、用户过多的投诉或严重影响甲方业务正常进行；
4.1.2 乙方超过本协议规定的结算期限，经甲方通知给予正常的补款时间仍未补款的；
4.1.3 乙方对甲方相关工作未给予积极支持，造成甲方工作难以开展的。
4.1.4 乙方存在严重财务危机致使付款能力严重不足，或有破产、清算、解散等情况，且甲方具有足够证据证明的。
4.2 乙方在以下情况下，有权解除本协议：
4.2.1 甲方涉嫌与捐赠者、用户或他人串通从事诈骗资金、洗钱等违法活动；
4.2.2 甲方无理拒绝受理捐赠者、用户使用乙方的支付产品进行支付；
4.2.3 甲方交易中存在过多的交易纠纷或过大的交易风险、且经双方友好协商无法解决；
4.2.4 甲方未通过网站或其他途径提供真实有效的联系方式，或因甲方发生业务变更、终止等情况而未及时通知乙方，乙方在7天之内也无法联系到甲方；
4.3 任何一方依据本协议或法律规定提前解除本协议时，必须提前7天以加盖公章的书面形式通知另一方。
4.4 当一方解除本协议时，无过错方可以要求对方给予相应的赔偿。</div>
<h4>五、风险说明</h4>
<div class="details gray">双方对于“中国国内电子商务环境尚未成熟，电子商务立法以及信用体制还不完善”的现状以及双方从事的电子商务存在的风险性均完全知悉，双方均承诺采取相关风险防范措施，以尽量避免或减小风险，并愿意各自承担相应的可能由此造成的损失。</div> 
<h4>六、合作周期</h4>
<div class="details gray">6.1 本协议自双方签字或盖章之日起生效，终止日期为 年 月 日。
6.2 在本协议有效期间内，如果甲方企业名称发生变更的，双方须重新签订协议，本协议自动废止。
6.3 本协议终止或提前解除后，甲方应在2天内将网站上或其他载体上的乙方LOGO，网站链接或其他任何标志删除、取消。</div>
<h4>七、其它</h4>
<div class="details gray">7.1 本协议所规定的合作内容，以及在履行本协议过程中乙方的技术信息、技术咨询和服务，以及甲方的交易信息，均为保密信息，未经一方允许，另一方不得将其转交其它企业使用或透露给第三方。否则一方有权终止本协议，并追究另一方的赔偿责任。
7.2 为履行本协议的需要，双方在经对方允许的情况下可以根据合理的方式在合理范围内使用对方的知识产权，如商标和标志等，但不能擅自扩大使用范围，或以法律禁止的方式侵犯对方的知识产权。
7.3 本协议中涉及乙方对甲方的捐赠者、用户或第三方的服务, 是乙方履行对甲方义务的行为, 并不构成对甲方的捐赠者、用户或第三方的任何承诺, 甲方的捐赠者、用户或第三方不因此而获得对乙方的直接请求权。
7.4 在履行本协议过程中发生的任何争议，应首先由甲、乙双方友好协商解决；协商不成的，任何一方均可向北京仲裁委员会提起仲裁。
7.5 本协议未尽事宜，双方一致同意依照乙方网站实时公布的相关交易规则和使用说明办理。甲方用户、捐赠者或甲方在甲方网站上使用乙方支付产品时所进行的商户登陆、注册等活动以及点击同意的交易规则视同本协议的组成部分。
7.6 本协议一式二份，甲、乙双方各执一份。
	</article>
	<footer class="gray">特别捐款通道由<a href="#" target="_blank"><img src="http://192.168.242.44/sceapp/focus_static/wap/gongyi/img/yibao.png" title="易宝公益圈" alt="易宝公益圈" /></a>提供</footer>
</div>
<script type="text/javascript">var _focus_pv_id ="focus.wap.all";</script><script type="text/javascript" src="http://js.sohu.com/mail/pv/pv_v210.js"></script>
</body>
</html>