<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>“温暖童心”公益活动成功页面</title>
<meta name="apple-mobile-web-app-title" content="搜狐焦点房产">
<link rel="apple-touch-icon" sizes="57x57" href="http://192.168.242.44/sceapp/focus_static/wap/images/focus57.png">
<link rel="apple-touch-icon" sizes="72x72" href="http://192.168.242.44/sceapp/focus_static/wap/images/focus72.png">
<link rel="apple-touch-icon" sizes="114x114" href="http://192.168.242.44/sceapp/focus_static/wap/images/focus114.png">
<link rel="apple-touch-icon" sizes="144x144" href="http://192.168.242.44/sceapp/focus_static/wap/images/focus144.png">
<link rel="apple-touch-icon" sizes="152x152" href="http://192.168.242.44/sceapp/focus_static/wap/images/focus152.png">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="http://192.168.242.44/sceapp/focus_static/wap/gongyi/css/index.css"/>
</head>
<body>
<!-- header -->
<header class="header">
	<a id="back" href="/"></a>
	<h1>焦点公益</h1>
	<div class="banner"><img src="http://192.168.242.44/sceapp/focus_static/wap/gongyi/img/banner.jpg" title="温暖童心" alt="温暖童心" /></div>
</header>
<!-- .content -->
<div class="content">
	<article class="thanks">
		<span class="circleLabel"></span>
		<h2 class="red alignCen">感谢您的爱心捐赠！</h2>
<div class="details">我们承诺：<br/>
1.所募善款专款专用，定期向社会公布该项目资金使用情况；<br/>
2.开具和邮寄公益捐赠收据。因需要成本，希望爱心用户按需申请（需要捐赠收据的必须将抬头、金额、联系电话、地址、邮编等信息发至邮箱<a href="mailto:focusfund@vip.sohu.com">focusfund@vip.sohu.com</a>，经确认后我们会尽快回邮捐赠收据），发票索取电话：010—61135271。</div>
	</article>
	<footer class="gray">特别捐款通道由<a href="#" target="_blank"><img src="http://192.168.242.44/sceapp/focus_static/wap/gongyi/img/yibao.png" title="易宝公益圈" alt="易宝公益圈" /></a>提供</footer>
</div>
<script type="text/javascript">var _focus_pv_id ="focus.wap.all";</script><script type="text/javascript" src="http://js.sohu.com/mail/pv/pv_v210.js"></script>
</body>
</html>
