<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd ">

<!-- 	<bean id="passportProxyService" class="cn.focus.dc.focuswap.service.PassportProxyService">
	</bean>
	
	<bean class="cn.focus.dc.focuswap.service.InterfaceService">
				
	</bean>
	
	<bean id="focusWapTemplate" class="org.springframework.web.client.RestTemplate">
		<constructor-arg>
			<bean class="cn.focus.dc.focuswap.component.FocusWapHttpRequestFactory">
				<constructor-arg index="0" value="100" />
				<property name="readTimeout" value="30000" />
				<property name="connectTimeout" value="30000" />
			</bean>
		</constructor-arg>
	</bean> -->
	
</beans>
